# Default values for jasper.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: ghcr.io/cjmalloy/jasper
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

config:
  profiles: prod
  scrapeIntervalMin: 1
  scrapeDelayMin: 5
  pullIntervalMin: 1
  pullDelayMin: 5
  minRole: ROLE_ANONYMOUS
  defaultRole: ROLE_ANONYMOUS
  allowLocalOriginHeader: false
  allowUserTagHeader: false
  allowUserRoleHeader: false
  allowAuthHeaders: false
  sshConfigNamespace: "default"
  sshConfigMapName: "ssh-authorized-keys"
  override:
    security:
      mode: ''
      clientId: ''
      clientSecret: ''
      jwksUri: ''
      usernameClaim: ''
      tokenEndpoint: ''
      scimEndpoint: ''
  mail:
    host: smtp-relay.gmail.com
    port: 587
    localhost: jasper.local

smtp:
  enabled: false
  repository: ghcr.io/cjmalloy/smtp-hook
  pullPolicy: IfNotPresent
  tag: v1.0.2
  origin: ""
  headers: ""

postgresql:
  fullnameOverride: jasper-db
  auth:
    database: jasper
  primary:
    extendedConfiguration: |-
      default_text_search_config = 'pg_catalog.english'

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: 80

## Enable persistence using Persistent Volume Claims
## ref: http://kubernetes.io/docs/user-guide/persistent-volumes/
##
persistence:
  enabled: false
  # storageClassName: default
  accessModes:
    - ReadWriteOnce
  size: 10Gi
  # annotations: {}
  finalizers:
    - kubernetes.io/pvc-protection
  # selectorLabels: {}
  # subPath: ""
  # existingClaim:

  ## If persistence is not enabled, this allows to mount the
  ## local storage in-memory to improve performance
  ##
  inMemory:
    enabled: false
    ## The maximum usage on memory medium EmptyDir would be
    ## the minimum value between the SizeLimit specified
    ## here and the sum of memory limits of all containers in a pod
    ##
    # sizeLimit: 300Mi

ingress:
  enabled: false
  className: ""
  tenants:
    - origin: ""
      userTag: ""
      userRole: ""
      readAccess: ""
      writeAccess: ""
      tagReadAccess: ""
      tagWriteAccess: ""
      annotations: {}
      serverSnippet: ""
      host: chart-example.local
      path: /api
      websockets: true
      websocketPath: /websocket
      publicApi: true
      publicApiPath: /pub
      publicApiAnnotations: {}
      publicApiServerSnippet: ""
      pathType: ImplementationSpecific
      tlsSecretName: chart-example-tls

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

heap: 512m

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

sshTunnel:
  enabled: false

  replicaCount: 2

  image:
    repository: ghcr.io/cjmalloy/jasper-ssh
    pullPolicy: IfNotPresent
    tag: v1.1.5

  localOrigin: ""
  userTag: ""
  userRole: "ROLE_VIEWER"
  readAccess: ""
  writeAccess: ""
  tagReadAccess: ""
  tagWriteAccess: ""
  authorizedKeys: ""
  authorizedKeysConfigMap: ""

  terminationGracePeriodSeconds: 60

  imagePullSecrets: [ ]

  podAnnotations: { }

  podSecurityContext: { }
  # fsGroup: 2000

  securityContext: { }
    # capabilities:
    #   drop:
    #   - ALL
    # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

  service:
    type: ClusterIP
    port: 22

  resources: { }
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
  #   cpu: 100m
  #   memory: 128Mi

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80

  nodeSelector: { }

  tolerations: [ ]

  affinity: { }
