apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "jasper.fullname" . }}
  labels:
    {{- include "jasper.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "jasper.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "jasper.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "jasper.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8081
              protocol: TCP
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: {{ .Values.config.profiles }}
            - name: SPRING_DATASOURCE_URL
              value: jdbc:postgresql://{{ .Values.postgresql.fullnameOverride }}:5432/{{ .Values.postgresql.auth.database }}
            - name: SPRING_DATASOURCE_USERNAME
              value: postgres
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.postgresql.fullnameOverride }}
                  key: postgres-password
            {{- if .Values.config.clientId }}
            - name: JASPER_SECURITY_AUTHENTICATION_JWT_CLIENT_ID
              value: {{ .Values.config.clientId }}
            {{- end }}
            {{- if .Values.config.clientSecret }}
            - name: JASPER_SECURITY_AUTHENTICATION_JWT_BASE64_SECRET
              valueFrom:
                secretKeyRef:
                  name: jasper-jwt-config
                  key: clientSecret
            {{- end }}
            {{- if .Values.config.jwtAlg }}
            - name: JASPER_SECURITY_AUTHENTICATION_JWT_ALG
              value: {{ .Values.config.jwtAlg }}
            {{- end }}
            {{- if .Values.config.jwksUri }}
            - name: JASPER_SECURITY_AUTHENTICATION_JWT_JWKS_URI
              value: {{ .Values.config.jwksUri }}
            {{- end }}
            {{- if .Values.config.tokenEndpoint }}
            - name: JASPER_SECURITY_AUTHENTICATION_JWT_TOKEN_ENDPOINT
              value: {{ .Values.config.tokenEndpoint }}
            {{- end }}
            {{- if .Values.config.scimEndpoint }}
            - name: JASPER_SCIM_ENDPOINT
              value: {{ .Values.config.scimEndpoint }}
            {{- end }}
            - name: JASPER_SCRAPE_DELAY_MIN
              value: {{ .Values.config.scrapeDelayMin | quote }}
            - name: JASPER_SCRAPE_ORIGINS
              value: {{ join "," .Values.config.scrapeOrigins | quote }}
            - name: JASPER_SCRAPE_INTERVAL_MIN
              value: {{ .Values.config.scrapeIntervalMin | quote }}
            - name: JASPER_OEMBED_ORIGINS
              value: {{ join "," .Values.config.oembedOrigins | quote }}
            - name: JASPER_MIN_ROLE
              value: {{ .Values.config.minRole }}
            - name: JASPER_DEFAULT_ROLE
              value: {{ .Values.config.defaultRole }}
            - name: JASPER_USERNAME_CLAIM
              value: {{ .Values.config.usernameClaim }}
            - name: JASPER_MULTI_TENANT
              value: {{ .Values.config.multiTenant | quote }}
            - name: JASPER_ALLOW_USER_TAG_HEADER
              value: {{ .Values.config.allowUserTagHeader | quote }}
            - name: JASPER_ALLOW_USER_ROLE_HEADER
              value: {{ .Values.config.allowUserRoleHeader | quote }}
            - name: JASPER_ALLOW_LOCAL_ORIGIN_HEADER
              value: {{ .Values.config.allowLocalOriginHeader | quote }}
            - name: JASPER_ALLOW_AUTH_HEADERS
              value: {{ .Values.config.allowAuthHeaders | quote }}
            - name: JASPER_HEAP
              value: {{ .Values.heap }}
          volumeMounts:
            - name: storage
              mountPath: "/var/lib/jasper"
          {{- if .Values.persistence.subPath }}
              subPath: {{ .Values.persistence.subPath }}
          {{- end }}
          livenessProbe:
            initialDelaySeconds: 90
            httpGet:
              path: /management/health/liveness
              port: http
          readinessProbe:
            initialDelaySeconds: 15
            httpGet:
              path: /management/health/readiness
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
        {{- if .Values.smtp.enabled }}
        - name: smtp-hook
          image: "{{ .Values.smtp.repository }}:{{ .Values.smtp.tag }}"
          imagePullPolicy: {{ .Values.smtp.pullPolicy }}
          ports:
            - name: smtp
              containerPort: 25
              protocol: TCP
          env:
            - name: WEBHOOK
              value: http://localhost:8081/api/v1/webhook/smtp?origin={{ .Values.smtp.origin }}
            {{- if .Values.smtp.headers }}
            - name: HEADERS
              value: {{ .Values.smtp.headers | quote }}
            {{- end }}
        {{- end }}
        {{- if .Values.sshProxy.enabled }}
        - name: ssh-proxy
          image: "{{ .Values.sshProxy.repository }}:{{ .Values.sshProxy.tag }}"
          imagePullPolicy: {{ .Values.sshProxy.pullPolicy }}
          ports:
            - name: ssh
              containerPort: 22
              protocol: TCP
          env:
            - name: USER_TAG
              value: {{ .Values.sshProxy.userTag | quote }}
            - name: USER_ROLE
              value: {{ .Values.sshProxy.userRole | quote }}
            - name: LOCAL_ORIGIN
              value: {{ .Values.sshProxy.localOrigin | quote }}
            - name: READ_ACCESS
              value: {{ .Values.sshProxy.readAccess | quote }}
            - name: WRITE_ACCESS
              value: {{ .Values.sshProxy.writeAccess | quote }}
            - name: TAG_READ_ACCESS
              value: {{ .Values.sshProxy.tagReadAccess | quote }}
            - name: TAG_WRITE_ACCESS
              value: {{ .Values.sshProxy.tagWriteAccess | quote }}
            - name: AUTHORIZED_KEYS
              {{- if .Values.sshProxy.authorizedKeysConfigMap }}
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.sshProxy.authorizedKeysConfigMap }}
                  key: authorized_keys
              {{- else }}
              value: {{ .Values.sshProxy.authorizedKeys | quote }}
              {{- end }}
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
    {{- if .Values.persistence.enabled }}
        - name: storage
          persistentVolumeClaim:
            claimName: {{ .Values.persistence.existingClaim | default (include "jasper.fullname" .) }}
    {{- else }}
        - name: storage
      {{- if .Values.persistence.inMemory.enabled }}
          emptyDir:
            medium: Memory
        {{- if .Values.persistence.inMemory.sizeLimit }}
            sizeLimit: {{ .Values.persistence.inMemory.sizeLimit }}
        {{- end -}}
      {{- else }}
          emptyDir: {}
      {{- end -}}
    {{- end -}}
