{{- if .Values.ingress.enabled -}}
{{- $fullName := include "jasper.fullname" . -}}
{{- range .Values.ingress.tenants -}}
{{- $tenant := default "default" (.origin | replace "@" "") -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $fullName }}-{{ $tenant }}
  labels:
    {{- include "jasper.labels" $ | nindent 4 }}
  annotations:
    {{- with .annotations }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
    nginx.ingress.kubernetes.io/server-snippet: |
      more_set_input_headers "Local-Origin: {{ .origin }}";
      more_set_input_headers "User-Tag: {{ .userTag }}";
      more_set_input_headers "User-Role: {{ .userRole }}";
      more_set_input_headers "Read-Access: {{ .readAccess }}";
      more_set_input_headers "Write-Access: {{ .writeAccess }}";
      more_set_input_headers "Tag-Read-Access: {{ .tagReadAccess }}";
      more_set_input_headers "Tag-Write-Access: {{ .tagWriteAccess }}";
spec:
  ingressClassName: {{ .className }}
  {{- if .tlsSecretName }}
  tls:
    - hosts:
        - {{ .host | quote }}
      secretName: {{ .tlsSecretName }}
  {{- end }}
  rules:
    - host: {{ .host | quote }}
      http:
        paths:
          - path: {{ .path }}
            pathType: {{ .pathType }}
            backend:
              service:
                name: {{ $fullName }}
                port:
                  number: {{ $.Values.service.port }}
          {{- if .websockets }}
          - path: {{ .websocketPath }}
            pathType: {{ .pathType }}
            backend:
              service:
                name: {{ $fullName }}
                port:
                  number: {{ $.Values.service.port }}
          {{- end }}
          {{- if $.Values.cache.enabled }}
          - path: {{ .path }}/v1/proxy
            pathType: {{ .pathType }}
            backend:
              service:
                name: {{ $fullName }}-cache
                port:
                  number: {{ $.Values.cache.service.port }}
          - path: {{ .path }}/v1/scrape
            pathType: {{ .pathType }}
            backend:
              service:
                name: {{ $fullName }}-cache
                port:
                  number: {{ $.Values.cache.service.port }}
          - path: {{ .path }}/v1/backup
            pathType: {{ .pathType }}
            backend:
              service:
                name: {{ $fullName }}-cache
                port:
                  number: {{ $.Values.cache.service.port }}
          {{- end }}
---
{{- end }}
{{- end }}
