apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "jasper-ui.fullname" . }}
  labels:
    {{- include "jasper-ui.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "jasper-ui.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "jasper-ui.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "jasper-ui.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          env:
            - name: BASE_HREF
              value: {{ .Values.config.baseHref }}
            - name: JASPER_VERSION
              value: {{ .Values.image.tag | default .Chart.AppVersion }}
            - name: JASPER_TITLE
              value: {{ .Values.config.title | quote }}
            - name: JASPER_API
              value: {{ .Values.config.jasperApi }}
            - name: JASPER_LOGOUT
              value: {{ .Values.config.jasperLogout | quote }}
            - name: JASPER_LOGIN
              value: {{ .Values.config.jasperLogin | quote }}
            - name: JASPER_SIGNUP
              value: {{ .Values.config.jasperSignup | quote }}
            - name: JASPER_SCIM
              value: {{ .Values.config.scim | quote }}
            - name: JASPER_MULTI_TENANT
              value: {{ .Values.config.multiTenant | quote }}
            - name: JASPER_ALLOWED_SCHEMES
              value: {{ .Values.config.allowedSchemes | toJson | quote }}
            - name: JASPER_MAX_PLUGINS
              value: {{ .Values.config.maxPlugins | quote }}
            - name: JASPER_MAX_TEMPLATES
              value: {{ .Values.config.maxTemplates | quote }}
            - name: JASPER_MAX_ORIGINS
              value: {{ .Values.config.maxOrigins | quote }}
            - name: JASPER_FETCH_BATCH
              value: {{ .Values.config.fetchBatch | quote }}
            - name: JASPER_CODE_FLOW
              value: {{ .Values.config.codeFlow | quote }}
            - name: JASPER_IMPLICIT_FLOW
              value: {{ .Values.config.implicitFlow | quote }}
            - name: JASPER_ISSUER
              value: {{ .Values.config.issuer | quote }}
            - name: JASPER_CLIENT_ID
              value: {{ .Values.config.clientId | quote }}
            - name: JASPER_SCOPE
              value: {{ .Values.config.scope | quote }}
            - name: PRE_AUTH_SCRAPE
              value: {{ .Values.config.preAuthScrape | quote }}
            - name: CSP_DEFAULT_SRC
              value: {{ .Values.config.cspDefaultSrc | quote }}
            - name: CSP_SCRIPT_SRC
              value: {{ .Values.config.cspScriptSrc | quote }}
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- if .Values.config.assetsConfig }}
          volumeMounts:
            - name: assets
              mountPath: /usr/share/nginx/html/favicon.ico
              subPath: favicon.ico
          {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.config.assetsConfig }}
      volumes:
        - name: assets
          configMap:
            name: {{ .Values.config.assetsConfig }}
      {{- end }}
